body{

margin:0;
background:#9ed9ff;
overflow:hidden;
font-family:Arial;
text-align:center;

}

h1{

margin-top:20px;

}

#game{

position:relative;
width:100vw;
height:80vh;

}

.bird{

position:absolute;
font-size:70px;
bottom:60px;

}

#angry{

left:120px;

}

#lovebird{

right:120px;

}

.fire{

position:absolute;
font-size:35px;
animation:fireMove 3s linear forwards;

}

.heart{

position:absolute;
font-size:35px;
animation:heartMove 3s linear forwards;

}

@keyframes fireMove{

from{

left:170px;

}

to{

left:80%;

}

}

@keyframes heartMove{

from{

right:170px;

}

to{

right:80%;

}

}

#message{

font-size:40px;
margin-top:20px;
color:red;

}